*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
.container{
    max-width: 1140px;
    margin: 0 auto;
   color: #333;
}

.nav{
    padding: 1rem;
   
    
   
}
.nav-con{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    

}
.name-web a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    

}
.logo a { 
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    

}
.hero{
    background-color: #f0f0f0;
}

.hero-con{
    display: flex;
    background-color: #efefef;
}

.hero-info{
    width: 100%;
   
    padding: 2rem;
}

.hero-info h3 {
    font-size: 2rem;
}

.hero-info p { 
    margin: 1pem 0 ;
    padding: 1rem;
}

.hero-info .hero-btn{
   display: inline-block;
   background-color: orange;
   color: #fff;
   padding: 1rem;
   border-radius: 5px;
   text-decoration: none;
}

.hero-img{
    width: 100%;
    padding: 2rem;
}

.blog-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.blog-item img{
    width: 100%;
}

.blog-title{
    margin: 2rem 0;
}



.blog-title h4{
    margin-top: 1rem;
}

.blog-item p{ 
    margin: 1rem 0;

}

.blog-item .blog-btn {
    display: inline;
    background-color: orange;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    margin-top: 1rem;

}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: #333;
   color: #fffdfd;
}

.footer-top-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    color:#fff;
  }

.footer-top-item-con{
    display: flex;
}


